<div class="btn-group" role="group">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </button>
    <%= link_to course.name, course_path(course), class:"btn btn-default" %> 
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </button>

</div>
