@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: right;
    font-size: 1.0em;
    color: #222;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #111;
    text-decoration: none;
}

#logo_img {
    height: 180%;
    float: left;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: 8px;
}

.navbar-default {
    background-image: asset-url('nav_bg.jpg');
    background-size: cover;
}